<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag "screen", "ie" %>
  <%= google_font_link_tag('Permanent Marker') %>
  <%= google_font_link_tag('Special Elite') %>
  <%= google_font_link_tag('Slackey') %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
